body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;  
  flex-direction: column;
  display: flex;
  justify-content:center;
	align-items:center;
}

#bug {
  border: 1px solid gray;
}
.bug-line {
  display: flex;
}
.bug-point {
  width: 10px;
  height: 10px;
}
.bug-point.filled {
  background: rgb(15, 162, 207)
}

